
#about,
#resume,
#education,
#contact {
  background-color: var(--extra-light);
}
 
.resume__download {

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #ffffff;
  margin-top: 1rem;
}
 
.resume__download:hover {
  background-color: var(--primary-color-dark);
}
 

@media (max-width: 750px) {
 
 
  
  #about,
  #resume,
  #education,
  #contact {
    text-align: center;
  }
 
 
  .section__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

ul li.active a {
    color: var(--secondary-color); /* Change to your desired active color */
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
  }

